server {
    listen 80;
    server_name codespeed.pilosa.com;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }
}
