[Unit]
Description=pilosa
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
LimitNOFILE=1048576
LimitNPROC=1048576

Restart=on-failure
RestartSec=5

ExecStart=/home/{{ ansible_user }}/go/bin/pilosa server {{ pilosa_arguments }}

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/pilosa
ExecStartPre=/bin/chmod 766 /var/log/pilosa
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pilosa

[Install]
WantedBy=multi-user.target
