tenancy_ocid="ocid1.tenancy.oc1..aaaaaaaa6cbn5b6obdpqkdyycybvvlunlxx3hxmdfxdlxytl4nwzh6giajla"
compartment_ocid="ocid1.compartment.oc1..aaaaaaaa6pjuy4mc2l62ptvybbim7tk52ed4qriegxjfpedsirrnbx6mavca"
user_ocid="ocid1.user.oc1..aaaaaaaaczkhzm2isdxlrodnownov5fxcix2noxopnvugd7loagxbttfbzja"
fingerprint="d7:bc:83:a7:5a:76:92:66:cd:c2:b8:26:2d:0a:8f:6e"
private_key_path="/Users/cody/.oci/oci_api_key.pem"

vcn_ocid="ocid1.vcn.oc1.iad.aaaaaaaas6eot3np54v6r35jfgiufnzf5wbgnhzbty3zg3ll7g3dpu3qgqra"
route_table_ocid="ocid1.routetable.oc1.iad.aaaaaaaafw5ipjjxtcfbgq573rhrrpoo6aftaifibdq7vtcamsadxojgojoq"

ssh_public_key="/Users/cody/.ssh/id_rsa.pub"
region="us-ashburn-1"
